<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lyfestyletracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WorkoutPlan"></activity>
        <activity android:name=".DietPlan" />
        <activity
            android:name=".ui.login.CreateUserUser"
            android:label="@string/title_activity_create_user_user"
            android:theme="@style/UserAppTheme" />
        <activity
            android:name=".HireConsultant" />
        <activity
            android:name=".AddMeal"
            android:label="@string/add_meal" />
        <activity
            android:name=".AddWorkout"
            android:label="@string/add_exercise" />
        <activity
            android:name=".ui.login.CreateUserConsultant"
            android:label="@string/title_activity_create_user_consultant"
            android:theme="@style/ConsultantAppTheme" />
        <activity
            android:name=".ConsultantPlansDashboard"
            android:label="@string/title_activity_consultant_plans"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConsultantUserDashboard"
            android:label="@string/title_activity_consultant_user_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addSleepEntry"
            android:label="Add an Entry" />
        <activity
            android:name=".UserConsultantsDashboard"
            android:label="@string/user_consultants_dashboard_activity_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SleepDashboard"
            android:label="@string/sleep_dashboard_activity_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FoodDashboard"
            android:label="@string/food_dashboard_activity_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExerciseDashboard"
            android:label="@string/exercise_dashboard_activity_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConsultantDashboard"
            android:label="@string/consultant_dashboard_activity_title"
            android:theme="@style/ConsultantAppTheme" />
        <activity
            android:name=".UserDashboard"
            android:label="@string/dashboard_activity_title"
            android:theme="@style/UserAppTheme" />
        <activity
            android:name=".Login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DatePicker" />
        <activity
            android:name=".SleepTracker"
            android:label="@string/sleep_activity_title"
            android:parentActivityName=".UserDashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserDashboard" />
        </activity>
    </application>

</manifest>